name: python-langgraph-agentcore-ci

on:
  workflow_call:
  pull_request:
  push:
    branches: [main]


jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Poetry
        run: |
          pip install poetry --no-root

      - name: Install dependencies
        run: |
          poetry install

      - name: Run Ruff lint
        run: |
          poetry run ruff check .

      - name: Run tests
        run: |
          poetry run pytest
